/* _____ Import files _____ */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* _____ style all rules _____ */
:root {
  --main-color: #;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Jost", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

span,
a {
  display: inline-block;
}

img {
  vertical-align: middle;
}

input,
select,
button {
  font-family: inherit;
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.img-fluid {
  max-width: 100%;
}

.position-relative {
  position: relative;
}
.overflow-hidden {
  overflow: hidden;
}
.btn {
  padding: 9px 18px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
}
.text-white {
  color: #fff !important;
}
.btn-white {
  background-color: #f1f1f9;
}

.btn-black {
  background-color: #000;
  color: #fff;
}
.sec-title1 {
    background-color: #f5f5f5;
    padding: 15px 0;
}
/* _____  _____ */
header {
  background-color: #333;
  position: relative;
}
.logo img {
  width: 150px;
  margin-right: 25px;
}
header input {
  width: 100%;
  padding: 9px 18px;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid #000;
  outline: none;
  border-radius: 25px;
}
header .nav a {
  padding: 20px 25px;
  color: #fff;
}
header .nav a:hover {
  background-color: #8f8f8f;
}
header .icons-cart {
  margin-top: 13px;
}
.close {
  cursor: pointer;
}
header .icons-cart li {
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}
header .icons-cart li i {
  cursor: pointer;
}
header  svg {
  color: #fff;
}
header .fa-magnifying-glass {
  position: absolute;
  top: 27px;
  right: 15px;
  font-size: 15px;
}
header ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}
header ul li:hover ul {
  opacity: 1;
  visibility: visible;
}
.search-overlay, .cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;
}
.search-overlay.active, .cart-overlay.active {
  opacity: 1;
  visibility: visible;
}
.cart-inner {
    width: 450px;
    background-color: #fff;
    position: fixed;
    left: -450px;
    top: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
    padding: 15px 25px;
}
.cart-inner.active {
  left: 0;
}
.cart-top {
    border-bottom: 1px solid #dddd;
    padding-bottom: 20px;
}.cart-inner .close {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 15px;
}.cart-inner h2 {
    margin-top: 30px;
}.cart-product {
    height: 300px;
    overflow-y: scroll;
}.cart-title {
    width: 100%;
}.cart-title a {
    font-weight: bold;
    transition: 0.3s linear;
}.cart-items img {
    width: 60px;
}.plus-dash {
    height: 44px;
    width: 106px;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    padding: 0 20px;
    overflow: hidden;
    display: inline-block;
}.plus-dash .increment, .plus-dash .decrement {
    font-size: 14px;
    color: #000;
    cursor: pointer;
    float: left;
    width: 12px;
    line-height: 42px;
    user-select: none;
}.plus-dash input {
    width: 40px;
    text-align: center;
}.plus-dash input {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    border: none;
    float: right;
    width: 84px;
    text-align: center;
    height: 48px;
}.close-items {
    cursor: pointer;
    font-weight: bold;
}
/* _____  _____ */

.product-desc-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
  color: #fff;
}

.product-inner:hover .product-desc-inner {
  top: 0;
  right: 0;
  left: 0;
  transform: translate(0, 0);
}

.product-desc h3 {
  font-size: 25px;
}

.product-desc .product-btn {
  position: absolute;
  bottom: -100%;
  width: 100%;
  left: 0;
  transition: 0.3s ease-in-out;
}

.product-desc .product-btn button {
  width: calc(50% - 20px);
}

.product-inner:hover .product-btn {
  bottom: 25px;
}
.sec-hero {
  background: url(../images/slider_01.jpg) center center;
  background-size: cover;
  height: calc(100vh - 63px);
}
/* _____  _____ */
.new-desc {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  color: #fff;
  text-align: center;
}

.new img {
  height: 274px;
}

/* _____  _____ */
.brands img {
  filter: grayscale(100%);
}

/* _____  _____ */
.imageSize {
  height: 250px !important;
}
.discount {
  color: #f00;
  text-decoration: line-through;
}
.trends-desc span {
  background-color: #f00;
  color: #fff;
  border-radius: 4px;
  padding: 4px 7px;
}
/* _____  _____ */
.img-sec {
  background: url(../images/img-sec.jpg) center center / cover no-repeat;
  height: 331px;
  display: flex;
  align-items: center;
}

/* _____  _____ */
.feateures-inner {
  position: absolute;
  bottom: 0;
  color: #000;
  width: 100%;
  padding: 15px;
}

.contact input {
  width: 80%;
  padding: 9px 18px;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid #000;
  outline: none;
}

.contact-inner {
  background-color: #f9f9f1;
}
.contact a {
  text-decoration: underline;
  font-weight: bold;
}

.contact-social li:first-child {
  background-color: #1877f2;
}

.contact-social li:nth-child(2) {
  background-color: #c32aa3;
}

.contact-social li:last-child {
  background-color: #fffc00;
}

.contact-social li {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  margin-right: 40px;
}

.brand {
  border: 1px solid #e9ecef;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  padding: 15px;
  cursor: pointer;
}

.brand::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.brand:hover {
  box-shadow: 2px 8px 22px #f1f1f1;
}

.brand .brand-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  font-size: 11px;
}
.brand:hover::before,
.brand:hover .brand-desc {
opacity: 1;
  visibility: visible;
}
.brand-card a {
  font-weight: 500;
}
.brand-card img {
  transition: 0.3s ease-in-out;
}
.brand-card:hover img {
  transform: scale(1.1);
}
.brand-card a:hover {
  color: #AF9433;
}

.brand-card svg {
  cursor: pointer;
}